@use "./partials/variables.scss" as *;
@import "bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";


// RESET & DEFAULT
ul {
    list-style-type: none;
    color: inherit;
}

img{
    max-width: 100%;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

.ms_container1{
    width: $width-ms1;
    margin: 0 auto;
}

.ms_container2{
    width: $width-ms2;
    margin: 0 auto;
}

span{
    font-weight: bold;
    font-style: italic;

}

 .up {
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 2;
        background-color: $footer-bg;
        right: 20px;
        bottom: 20px;
        &:hover::before {
            content: "Torna su";
            position: absolute;
            bottom: calc(100% + 5px);
            left: 50%;
            transform: translateX(-50%);
            padding: 5px;
            background-color: $footer-bg;
            color: #fff;
            font-size: 14px;
            border-radius: 3px;
            white-space: nowrap;
          }
    }