// Heights & Widths
$header-h:70px;
$width-ms1:70%;
$width-ms2:60%;

$footer-h:150px;

// Backgroud colors:13
$header-bg:#FFFFFF;
$footer-bg:#C0E1CF;
$features-bg:#FAF7F2;

// Text colors:11

// Contrast issuse:1

// Fill colors:4

// Border colors:4
$btn-border: #E1C0B0;


