// Backgroud colors:13
$header-bg:#FFFFFF;
$footer-bg:#C0E1CF;
$features-bg:#FAF7F2;
$bordtitle:#212529;
$headerheight:70px;
$mainheight:calc(100% - $headerheight)

// Text colors:11

// Contrast issuse:1

// Fill colors:4

// Border colors:4